$color-primary: #1098D4;
$color-primary-ligth: #D5F2FF;
$color-secondary: #D52E2D;

$color-danger: #D52E2D;

$color-bc-accent: #EBEBEB;

$color-text: #041E2A;
$color-white: #fff;

$color-text-light: rgb(88, 88, 88);

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}